.container
  .cuerpo-detalle-noticia
    %p
      %strong Qué es enfoqueRegional.cl

      %br
      %br
      Es un medio de comunicación de la Región de Los Ríos que es impulsado y gestionado por un grupo de profesionales asociados a las áreas de las comunicaciones e informática, y que tiene como finalidad ser una plataforma
      para que diversos actores locales(autoridades, académicos y dirigentes sociales y políticos) e instituciones puedan opinar y difundir sus actividades y publicaciones científicas con un enfoque regional ligado al desarrollo de nuestro territorio.
      %br
      %br
      El medio más allá de relevar noticias, es un vehículo de relevar opiniones a objeto de compartir miradas respecto a diversas temáticas de nuestro entorno, y a difundir publicaciones científicas regionales, con el propósito de democratizar
      el conocimiento.
      %br
      EnfoqueRegional.cl persigue un fin de respeto y tolerancia, no obstante, se inscribe enel ideario de la justicia e inclusión social, participación ciudadana, y el fomento por las libertades individuales.
      %br
      %br
      %strong A quiénes está dirigido
      %br
      %br Principalmente a tomadores de decisiones, autoridades, profesionales, académicos y ciudadanía en general que posea al menos un conocimiento medio en temas regionales, asuntos públicos y territoriales. Por lo anterior, enfoqueRegional.cl se proyecta como un medio para instalar, debatir y defender ideas, visiones y proyectos que tengan directa incidencia en nuestro quehacer    comunal y regional, tanto a corto, mediano y largo plazo.
