.container
  .formulario-contacto
    %h1 contactenos
    .ventas
      %h2 ¿Deseas consultar temas relacionados con marketing y/o publicidad?. Realiza tus consultas a:
      %h3 Email: ventas@enfoqueregional.cl
    .ventas
      %h2 ¿Quieres publicar o dar tu opinión de algún tema en específico?. Realiza tus consultas a:
      %h3 Email: contacto@enfoqueregional.cl
