#owl-demo.owl-carousel.owl-theme  
  .item
    %img{:alt => "The Last of us", :src => "assets/fullimage1.jpg"}
  .item
    %img{:alt => "GTA V", :src => "assets/fullimage2.jpg"}
  .item
    %img{:alt => "Mirror Edge", :src => "assets/fullimage3.jpg"}