# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d6a9f531072dc2d699cbe12420c94754b895cda51044a86fd179e9f91a5f8ac918d7197ad755d40c711da1d6ad89992c1d2c2c598ec24a5a94f616574a641795

test:
  secret_key_base: f9c34000d49b9c0649d373f9e561438de30ad4135a6d4df77b3d3084fead13901180b8cace02ffbe7b8630d37346ca30c28ea8a551be9c4b4280d176e87385e2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
