%section
  .container
    %footer
      .row
        .col-md-4.col-sm-6.footer-navigation
          .logo-enfoque
            %a{:href => "#"}
              %img.img-responsive{:src => "../assets/logo_blanco.png"}/
          %h3
          %p.links
            = link_to "Inicio", root_path
            %strong ·
            = link_to "Quiénes Somos", somos_path
            %strong ·
            = link_to "Contáctenos", contactenos_path
            %strong
          %p.company-name Enfoque Regional © 2016
        .col-md-4.col-sm-6.footer-contacts
          %div
            %span.fa.fa-map-marker.footer-contacts-icon
            %p
              %span.new-line-span Avenida Pedro Monttt 840
              Valdivia, Chile
          %div
            %i.fa.fa-phone.footer-contacts-icon
            %p.footer-center-info.email.text-left +56 9 85002717
          %div
            %i.fa.fa-envelope.footer-contacts-icon
            %p ventas@enfoqueregional.cl
        .clearfix.visible-sm-block
        .col-md-4.footer-about
          %h4 Acerca de nuestra compañía
          %p
            Es un medio que comunicación de la Región de Los Ríos que tiene como finalidad ser una plataforma para diversos actores locales e instituciones puedan opinar y difundir sus actividades y publicaciones científicas con un enfoque regional.
          .social-links.social-icons
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-twitter
            %a{:href => "#"}
              %i.fa.fa-linkedin
            %a{:href => "#"}
              %i.fa.fa-instagram
            %a{:href => "#"}
              %i.fa.fa-google
