%section
  .container
    %footer
      .row
        .col-md-4.col-sm-6.footer-navigation
          .logo-enfoque
            %a{:href => "#"}
              %img.img-responsive{:src => "../assets/logo1blanco.png"}/
          %h3
          %p.links
            %a{:href => "#"} Inicio
            %strong ·
            %a{:href => "#"} Quiénes Somos
            %strong ·
            %a{:href => "#"} Cantáctenos
            %strong
          %p.company-name Enfoque Regional © 2016
        .col-md-4.col-sm-6.footer-contacts
          %div
            %span.fa.fa-map-marker.footer-contacts-icon
            %p
              %span.new-line-span Avenida Pedro Monttt 840
              Valdivia, Chile
          %div
            %i.fa.fa-phone.footer-contacts-icon
            %p.footer-center-info.email.text-left +56 9 85002717
          %div
            %i.fa.fa-envelope.footer-contacts-icon
            %p ventas@enfoqueregional.cl
        .clearfix.visible-sm-block
        .col-md-4.footer-about
          %h4 Acerca de nuestra compañía
          %p
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
          .social-links.social-icons
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-twitter
            %a{:href => "#"}
              %i.fa.fa-linkedin
            %a{:href => "#"}
              %i.fa.fa-instagram
            %a{:href => "#"}
              %i.fa.fa-google
