%section
  .container
    %footer
      .row
        .col-md-4.col-sm-6.footer-navigation
          .logo-enfoque
            = image_tag("logo_blanco.png", class: "img-responsive")
          %h3
          %p.links
            = link_to "Inicio", root_path
            %strong ·
            = link_to "Quiénes Somos", somos_path
            %strong ·
            = link_to "Contáctenos", contacts_path
            %strong
          %p.company-name Enfoque Regional © 2016
        .col-md-4.col-sm-6.footer-contacts
          %div
            %span.fa.fa-map-marker.footer-contacts-icon
            %p
              %span.new-line-span Avenida Pedro Montt 840
              Valdivia, Chile
          %div
            %i.fa.fa-phone.footer-contacts-icon
            %p.footer-center-info.email.text-left +56 9 85002717
          %div
            %i.fa.fa-envelope.footer-contacts-icon
            %p contacto@enfoqueregional.cl
        .clearfix.visible-sm-block
        .col-md-4.footer-about
          %h4 Acerca de nuestro sitio web
          %p
            Es un medio de comunicación de la Región de Los Ríos que tiene como finalidad, ser una plataforma para diversos actores locales e instituciones, que puedan opinar y difundir sus actividades y publicaciones científicas con un enfoque hacia nuestra región.
          .social-links.social-icons
            %a{:href => "https://www.facebook.com/Enfoque-Regional-XIV-1159257104104813/"}
              %i.fa.fa-facebook
            %a{:href => "https://twitter.com/VentasXiv"}
              %i.fa.fa-twitter
